body{
  font-family: 'Montserrat', sans-serif;

  background-image: url(image/back.jpg);
}

.conteiner{
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-indent: 2%;
  margin-left: auto;
  margin-right: auto;
}

.header{
  text-align: center;
}

.abzac{
  text-align: center;
  font-size: 25px;
  
}

.discription__one{
font-size: 35px;
color: bisque;
}

.discription__two{
font-size: 35px;
color: gray;
margin: 15px 10px 15px 10px;
}

.discription__three{
font-size: 35px;
color: white;
background-color: aqua;
border-radius: 20px;

}

b{
  color: rgb(87, 87, 252);
}