body{
  font-family: 'Montserrat', sans-serif;

  background-image: url(image/back.jpg);
}

.first{
font-size: 35px;
color: bisque;
}

.second{
font-size: 35px;
color: gray;
margin: 15px 10px 15px 10px;
}

.thirty{
font-size: 35px;
color: white;
background-color: rgb(97, 255, 5);
border-radius: 20px;
max-width: auto;
}