	 .menu {
width: 100px;
height: 50px;
background-color: lightgreen;
font-family: 'Montserrat', sans-serif;
display: flex;
justify-content: center;
align-items: center;

}
	.small {
color: Chocolate
font-family: 'Montserrat', sans-serif;
font-size: 16pt;
font-style : italic;
text-align: justify;
text-indent: 4%;
}